.space {
    padding: 92px 0 42px 0;
    
}

.about-p {
    font-size: 14px;
    width: 400px;
    color: #323232;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-link {
    text-decoration: none;
    color: black
}

.contact-link:hover{
    font-style: italic;
    color: #779FEC;
    transition: ease-in-out;
}

.contact-link:active {
    font-style: italic;
    color:  #779FEC;
    transition: ease-in-out;
}

.about-img {
    width: 400px;
}

