.contact {
    padding: 0 2rem;
}

.contact-item {
    padding: 1rem 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-content {
    padding: 1rem 2rem;
}

.contact-img {
    max-width: 6rem;
    height: auto;
}

.contact-h2 {
    margin: 0.5rem 0 0 0;
}

.contact-link {
    margin: 0.5rem 0;
    text-decoration: none;
    color: black;
}

.contact-link:hover {
    color: #64AAFB;
    transition: ease-in-out;
}
