.home {
    margin: 45px 40px;
}

.intro-header{
    font-family: 'DM Sans', sans-serif;
    color: black;
    font-size: 48px;
    font-weight: 400;
    width: 1050px;
    margin: 120px 0;
}

.home-grid {
    margin: 92px 0 100px 1;
}

.side-header {
    font-size: 16px;
    font-weight: 300;
    color: #999999;
}

.project {
    display: flex;
    flex-direction: row;
    margin: 0 0 7px 0;
}

.thumbnail {
    text-decoration: none;
}

.project-name {
    color: black;
    font-size: 16px;
    margin: 0 6px 0 0;
}

.category {
    color: #999999;
}

.project-description {
    width: 508px;
    color: #323232;
    margin: 0 0 30px 0;
    font-size: 14px;
}

.project-img {
    width: 708px;
}