.title {
    font-size: 20px;
}

.project-info {
    font-size: 14px;
    color: #999999;
    margin: 1px 0 0 0;
}

.project-p {
    width: 400px;
    font-size: 14px;
    color: #323232;
    padding: 0 0 40px 0;
}

.sub-header {
    font-size: 14px;
    color: #323232;
}