.logo {
    position: relative;
    max-width: 10rem;
    height: auto;
}

.cardlogo {
    position: relative;
}

.cardlogo .logo-hover{
    display: none;
    position: absolute;
    top: 0;
    left: 0; 
    z-index: 1000;
}

.cardlogo:hover .logo-hover {
    display: flex;
}

.cardlogo:hover .no-hover {
    opacity: 0%;
}

.nav-bar {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 40px;
    padding: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-gap {
    display: flex;
    column-gap: 50px;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.highlight:hover{
    color: #779FEC;
    transition: ease-in-out;
}

.highlight:active { 
    color:  #779FEC;
    transition: ease-in-out;
}


.sticky{
    position: sticky;
    padding: 40px 0;
    background-color: white;
    z-index: 999;
}

