.logo {
    position: relative;
    max-width: 10rem;
    height: auto;
}

.card {
    position: relative;
}

.card .logo-hover{
    display: none;
    position: absolute;
    top: 0;
    left: 0; 
    z-index: 99;
}

.card:hover .logo-hover {
    display: flex;
}

.card:hover .no-hover {
    opacity: 0%;
}

.nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 3rem;
}

.nav-gap {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.highlight:hover{
    font-style: italic;
    color: #779FEC;
    transition: ease-in-out;
}

.highlight:active {
    font-style: italic;
    color:  #779FEC;
    transition: ease-in-out;
}

