body {
  margin: 0;
  font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-weight: 400;
}

h1 {
  font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;    
  font-weight: 500;
}

h3 {
  font-family: 'DM Mono', monospace;
  font-weight: 300;
}

h4 {
  font-family: 'DM Mono', monospace;
  font-weight: 300;
}

li {
  font-size: 0.7rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Romie-Trial-Medium";
  src: local("Romie-Trial-Medium"),
    url("/src/pages/fonts/Romie-Trial-Medium.otf") format("opentype") , url("/src/pages/fonts/Romie-Trial-Medium.otf")
      format("opentype")
}

.grid {    
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  padding: 92px 0 122px 0;
}

.col-1 {
  display: flex;
  flex-direction: column;
  column-gap: 15px;
  width: 266px;
}
.col-2 {
  width: 1000px;
}

