body {
  margin: 0;
  font-family: 'franklin-gothic-atf', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-weight: 400;
}

h1 {
  font-family: "adobe-garamond-pro", 'Baskerville','Baskerville Old Face','Hoefler Text','Times New Roman',serif;
  font-weight: 500;
}

li {
  font-size: 0.7rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
